<% layout("layouts/boilerplate") %>
<body>
    <div class="row mb-3">
        <div class="col-8 offset-2">
            <br><br>
    <h2>Edit Listing Data</h2>
    <form action="/listings/<%=listing._id%>?_method=PUT" method="post" class="needs-validation" novalidate enctype="multipart/form-data">

        <div class="mb-3">
        <label for="title" class="label-form">Title</label>
        <input type="text" name="listing[title]" value="<%=listing.title%>" id="title" class="form-control" required>
        <div class="invalid-feedback">Please enter a valid title.</div>
        </div>

        <div class="mb-3">
        <label for="description" class="label-form">Description</label>
        <textarea type="text" name="listing[description]" id="description" class="form-control" rows="5" required><%=listing.description%></textarea>
        <div class="invalid-feedback">Please write a short Description.</div>
        </div>

        <div class="mb-3 Mobile-image">
        <p>Original Image</p>
        <img src="<%= originalImageUrl%>" alt="original image of listing" class="responve-image">
        </div>

        <div class="mb-3">
        <label for="image" class="label-form">Upload Image</label>
        <input type="file" name="listing[image]" placeholder="image url" id="image" class="form-control" >
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="label-form">Price</label>
        <input type="number" name="listing[price]" value="<%=listing.price%>" id="price" class="form-control" required>
        <div class="invalid-feedback">Price should be valid</div>
        </div>

        <div class="mb-3 col-md-4">
        <label for="country" class="label-form">Country</label>
        <input type="text" name="listing[country]" value="<%=listing.country%>" id="country" class="form-control" required>
        <div class="invalid-feedback">Country name must be required.</div>
        </div>

        <div class="mb-3 col-md-4">
            <label for="status" class="label-form">Category:</label>
            <select name="listing[category]" id="status" class="form-select">
                <option value="<%=listing.category%>" ><%=listing.category%></option>
                <option value="Temple">Temple</option>
                <option value="Garden">Garden</option>
                <option value="Fort">Fort</option>
                <option value="Palace">Palace</option>
                <option value="Wildlife">Wildlife</option>
                <option value="Lake">Lake</option>
                <option value="Monument">Monument</option>
                <option value="Museum">Museum</option>
            </select>
            </div>
        </div>

        <div class="mb-3">
        <label for="location" class="label-form">Location</label>
        <input type="text" name="listing[location]" value="<%=listing.location%>" id="location" class="form-control" required>
        <div class="invalid-feedback">location name must be required.</div>
        </div>

        <button class="btn btn-dark add-btn">Save Changes</button>
    </form>
</div>
</div>
</body>